In [3]:
import pandas as pd

df = pd.read_excel("data.xlsx", sheet_name='Sheet1')

kapusta = df[df['sku'] == "Капуста"]
kapusta.to_excel('task3.xlsx')

In [7]:
import pandas as pd

df = pd.read_excel("data.xlsx", sheet_name='Sheet1')

data = df[df["sku"] == "Киви"]

data2 = data[data["priceoforder"] > 1000]
data2.to_excel("task4.xlsx")

In [11]:
import pandas as pd

df = pd.read_excel("data.xlsx", sheet_name='Sheet1')

data = df[df["volume"] > 15]
# print(data)
data2 = data[data["volume"] < 50]
print(data2)
data2.to_excel("task5.xlsx")

     №        sku  volume  price  priceoforder
1    2      Груши      40     38          1520
2    3    Капуста      35     12           420
3    4  Мандарины      45     45          2025
4    5       Киви      23     60          1380
5    6    Капуста      36     12           432
11  12      Банан      48     22          1056
14  15     Персик      42     45          1890
15  16    Абрикос      26     40          1040
18  19    Морковь      25     12           300
19  20        Лук      20     10           200
23  24   Баклажан      40     29          1160
24  25       Киви      45     60          2700
25  26    Капуста      35     12           420
26  27  Мандарины      45     45          2025
27  28       Киви      23     60          1380
28  29    Капуста      36     12           432
33  34     Персик      42     45          1890
34  35    Абрикос      26     40          1040
37  38    Морковь      25     12           300

In [17]:
import pandas as pd
import sqlite3

con = sqlite3.connect("Students.db")
# df = pd.DataFrame({
#     "Student_Id" : [201,202,203],
#     "Car" : ["auto1", "auto2", "auto3"]
# })

# df.to_sql("Cars", con, index=False)

query = """
    SELECT Students.Student_Name, Cars.Car FROM Students
    JOIN Cars ON Students.Student_Id = Cars.Student_Id;
    """
join_df = pd.read_sql(query, con)
join_df.to_excel("Task6.xlsx", index=False)